:root {
  --color-primary: #4267b2;
  --color-secondary: #f85a40;
  --color-light: #fff;
  --color-dark: #0f0f0f;
  --color-gray: #8d8d8d;


  --header-height: 170px;
  --header-tablet-height: 70px;
  --header-mobile-height: 40px;
  --header-shrink-height: 70px;

  --box-shadow: 0px 8px 24px rgba(149, 175, 165, 0.2);
}