:root {
  --ff-body: "Poppins", sans-serif;
  --ff-second: "Playfair Display", serif;

  --color-primary: #717fe0;
  --color-primary-dark: #6774d5;
  --color-secondary: #f85a40;
  --color-light: #fff;
  --color-light-secondary: #ccc;
  --color-dark: #0f0f0f;
  --color-gray: #b2b2b2;
  --color-gray-light: #999;
  --color-gray-light2: #888;
  --color-gray-dark: #666;
  --color-bg-dark: #222;
  --color-green: #a5dc86;

  --header-height: 170px;
  --header-tablet-height: 70px;
  --header-mobile-height: 40px;

  --box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}
