:root {
  --color-primary: #717FE0;
  --color-secondary: #f85a40;
  --color-light: #fff;
  --color-dark: #0f0f0f;
  --color-gray: #8d8d8d;


  --header-height: 170px;
  --header-tablet-height: 70px;
  --header-mobile-height: 40px;

  --box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}