.cart__banner {
  position: relative;
  height: 250px;
  background-image: url("../../assets/images/banners/cart-banner.jpg");
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.cart-container {
  padding-bottom: 140px;

  .cart__link {
    font-size: 12px;
    line-height: 1.833333;
    padding-top: 30px;

    a {
      color: var(--color-gray-dark2);

      &:hover {
        color: var(--color-primary);
      }

      i {
        font-size: 9px;
        margin: 0 10px;
      }
    }

    .text {
      text-transform: capitalize;
      color: var(--color-gray-light);
    }
  }

  .cart-row {
    padding-top: 75px;
    justify-content: center;
  }
}

.cart-wrapper {
  padding-bottom: 85px;

  @include responsive(XL) {
    margin-right: -55px;
  }

  .wrapper-table {
    overflow: auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }

  .table-cart {
    border-collapse: collapse;
    width: 100%;
    min-width: 680px;

    tr {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
    }

    .table__head th {
      font-size: 13px;
      color: var(--color-gray-dark2);
      text-transform: uppercase;
      line-height: 1.6;
      padding: 15px 0;

      &:first-child {
        padding-left: 50px;
      }

      &:last-child {
        padding-right: 40px;
      }
    }

    .table__row {
      height: 185px;
    }

    .table__row td {
      color: var(--color-gray-dark2);
      font-size: 16px;
      line-height: 1.6;
      padding-bottom: 30px;

      &:first-child {
        font-size: 15px;
        padding-left: 50px;
      }

      .title {
        display: inline-block;
      }

      .discount-price {
        color: var(--color-gray-light2);
        text-decoration: line-through;
      }
    }

    .product__image {
      display: inline-block;
      width: 60px;
      position: relative;
      margin-right: 40px;
      margin-bottom: 10px;
      cursor: pointer;

      &::after {
        content: "X";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: var(--color-light);
        opacity: 0;
        transition: all 0.3s;

        @include flex(center, center);
      }

      &:hover::after {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .wrap-num-product {
      width: 140px;
      height: 45px;
      color: var(--color-gray-dark2);
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      overflow: hidden;

      @include flex(center, center);
      flex-wrap: wrap;
    }

    .btn-num-product {
      width: 45px;
      height: 100%;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.3s;

      @include flex(center, center);

      &:first-child:hover,
      &:last-child:hover {
        color: var(--color-light);
        background-color: var(--color-primary);
      }
    }

    .product-quantity {
      width: calc(100% - 90px);
      height: 100%;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      background-color: #f7f7f7;
    }
  }
}

.cart-footer {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 40px;
  @include flex(center, space-between);
  flex-wrap: wrap;

  .voucher-form {
    margin: 5px 20px 5px 0;
    @include flex(center, space-between);
    flex-wrap: wrap;

    input {
      width: 220px;
      height: 45px;
      font-size: 14px;
      line-height: 1.466667;
      border-radius: 22px;
      border: 1px solid #e6e6e6;
      color: var(--color-bg-dark);
      outline: none;
      padding: 0 20px;
      margin: 5px 10px 5px 0;
    }
  }

  .cb-btn {
    font-weight: 500;

    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.cart-invoice {
  padding: 30px 40px;
  border: 1px solid #e6e6e6;

  @include responsive(XL) {
    margin-left: 80px;
  }

  .cart-total__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    padding-bottom: 17px;
  }

  .invoice-block {
    color: var(--color-bg-dark);
    padding-top: 13px;
    padding-bottom: 13px;

    @include flex(flex-start, flex-start);

    .total-price {
      width: 65.5%;
      font-size: 18px;
      line-height: 1.222222;
    }
  }

  .invoice-block--dash {
    border-bottom: 1px dashed #d9d9d9;
  }

  .invoice-block--end {
    padding: 27px 0 30px;
  }

  .title {
    width: 34.5%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.466667;
  }

  .shipping__info {
    width: 65.5%;

    .text {
      color: var(--color-gray-dark2);
      font-size: 13px;
      line-height: 1.6923;
      text-transform: uppercase;
    }
  }

  .form-select {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin: 9px 0 12px;

    .shipping-select {
      background-color: var(--color-light);
      color: var(--color-gray-dark2);
      border: 1px solid var(--color-gray-light);
      outline: none;
      border-radius: 4px;
      height: 28px;
      max-width: 170px;
      cursor: pointer;
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .form-input {
    margin-bottom: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;

    input {
      width: 100%;
      height: 40px;
      border: none;
      outline: none;
      padding: 0 15px;
      font-size: 13px;
      line-height: 1.6923;
    }
  }

  .cb-btn {
    max-width: 50%;
    font-weight: 500;
    margin: 20px 0;

    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.shipping-footer {
  .cb-btn {
    color: var(--color-light);
    background-color: var(--color-bg-dark);
    max-width: 100%;
    font-weight: 600;
    margin: 20px 0;
  }

  .title {
    font-size: 18px;
  }
}
